body{
    background-color: rgb(231, 227, 227);
}
.title{
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    text-align: center;
}
.result{
    text-align: center;
    font-size: 2rem;
}
.table-style{
    width: 60%;
}
